<li>
	{{!-- the list of burger names and the devour button that will be injected into the index file. --}}
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour!
	</button>
</li>